* {
    box-sizing: border-box;
}

main {
    overflow: hidden;
    padding-top: 71px;
    margin-top: -71px;
}

// assets
@import "assets/_normalize";
@import "assets/_fonts";
@import "assets/_variables";
@import "assets/_mixins";
@import "assets/_animations";

// components
@import "components/_header";
@import "components/_hero";
@import "components/_btn";
@import "components/_section-heading";
@import "components/_explain";
@import "components/_explain-box";
@import "components/_dot";
@import "components/_footer";
