<footer class="footer">
    <div class="footer__inner">
        <span class="footer__author-info">Copyrights © {{ "now"|date('Y') }} by Kerris Group.<br>All rights reserved.</span>
        <img src="{{ site.theme.link }}/images/ovals.svg" alt="" class="footer__img">
    </div>
</footer>

{{ function('wp_footer') }}
